body {
    margin-right: 200px;
    margin-left: 200px;
}

#emotionsTextData p {
    font-family: Poppins;
    font-size: 28px;
    padding: 4px;
    border: 1px;
    border-color: black;
    margin: 5px;
    margin-bottom: 20px;
}

/* button {
    margin-bottom: 40px;
    margin-right: 25px;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: Poppins;
    font-weight: 800;
    font-size: 36px;
}

div.button {
    background-color: white;
    position: sticky;
    top: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
} */

/* .buttonLabel {
    display: inline;
} */

#allButton:focus {
    text-decoration: underline;
}

#sadnessButton:focus {
    text-decoration: underline #2870C5;
}

#angerButton:focus {
    text-decoration: underline #E11F1F;
}

#fearButton:focus {
    text-decoration: underline #7920D2;
}

#surpriseButton:focus {
    text-decoration: underline #E87A15;
}

#loveButton:focus {
    text-decoration: underline #ED23D9;
}

#happyButton:focus {
    text-decoration: underline #E8D425;
}

.sadness-text:hover {
    background-color: #2870C5;
    color: white;
}

.anger-text:hover {
    background-color: #E11F1F;
    color: white;
}

.fear-text:hover {
    background-color: #7920D2;
    color: white;
}

.surprise-text:hover {
    background-color: #E87A15;
    color: white;
}

.love-text:hover {
    background-color: #ED23D9;
    color: white;
}

.happy-text:hover {
    background-color: yellow;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

.buttonLabel:hover {
    display: inline-block;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}


/* @media screen and (max-width: 1229px) {
    div.container-fluid {
      font-size: 12px;
    } */
    /* body {
        display: flex;
        flex-direction: reverse;
        } */
    /* #emotionsTextData {
        display: flex;
        flex-direction: column;
        max-width: 60%; */
    /* }
} */

/* @media screen and (max-width: 320px) {
    div.button {
      display: flex;
      flex-direction: column;
    }
    body {
        display: flex;
        flex-direction: reverse;
        }
    #emotionsTextData {
        display: flex;
        flex-direction: column;
    }
} */


div.container-fluid {
    font-family: "Poppins";
    margin-left: 100px;
    margin-right: 100px;
}


.nav-item {
    font-size: 50px;
}